* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.root {
  font-size: 14px;
}
.main-container {
  margin: 0;
  padding: 0;
}
.navigation-div {
  width: 20%;
  min-width: 250px;
  height: 100%;
  background-color: rgb(68, 68, 68);
  position: fixed;
}
.img-logo-div {
  display: flex;
  width: 100%;
  justify-content: center;
}
.img-logo {
  width: 50%;
}
.ul-nav {
  list-style: none;
  height: 100%;
}
.li-nav {
  color: white;
  font-size: 24;
  line-height: 30px;
  height: calc(50% / 5);
  padding: 0 3vh;
  border: 2px solid black;
  display: flex;
  align-items: center;
}
.link-nav {
  color: inherit;
  text-decoration: none;
}
.div-content {
  padding-left: 25vw;
  padding-top: 5vh;
  padding-right: 5vw;
  width: 100%;
  height: 100%;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5vh;
}
.caption {
  font-weight: bold;
  margin-bottom: 2vh;
}
.img-chart {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.section-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(199, 199, 199);
  width: calc(90% / 2);
  padding: 5vh;
}
.section-recent {
  margin-top: 5vh;
  width: 100%;
  background-color: rgb(199, 199, 199);
}
.table {
  width: 100%;
}
.thead {
  text-align: left;
}
.Number-th {
  width: 10%;
}
.Title-th {
  width: 60%;
}
.Author-th {
  width: 15%;
}
.Date-th {
  width: 15%;
}
