html,
body {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.counter {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.counter-value {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;
}
.counter-button-div {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.counter-button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: white;
}
