html,
body {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}
button {
  border: white;
}

.counter {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.counter-value {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;
}
.counter-button-div {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.counter-button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: white;
}

.container {
  width: 1200px;
  background-color: azure;
  display: flex;
  flex-direction: column;
}
.color-item {
  width: 50px;
  height: 50px;
}
.addButton {
  width: 100%;
}

#block-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.palette-container {
  background-color: white;
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.palette-item {
  width: 30px;
  height: 30px;
  margin: 1px;
}

.main-container {
  background-color: bisque;
}
