* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  display: inline-block;
  padding: 5vh;
}
.text-container {
  width: 60%;
}

.img-container-cats {
  float: right;
  width: 30%;
  position: absolute;
  top: 33px;
  right: 33px;
  color: white;
  text-align: right;
}
.cat-inscription {
  background-color: #37516b;
  width: 100%;
  padding: 2% 5vh;
}
.cat1-container {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5vh;
}
.cat1-img-div {
  font-size: 0;
}
.cat1-img {
  width: 100%;
}
.cat2-container {
  border-radius: 10px;
  overflow: hidden;
}
.cat2-img-div {
  font-size: 0;
}
.cat2-img {
  width: 100%;
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .img-container-cats {
    display: inline-block;
    width: 100%;
    position: unset;
    margin: 5vh 0;
  }
  .cat1-container {
    float: left;
    width: 49%;
  }
  .cat2-container {
    float: right;
    width: 49%;
  }
  .text-container {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .img-container-cats {
    display: inline-block;
    width: 100%;
    position: unset;
    margin: 5vh 0;
  }
  .text-container {
    width: 100%;
  }
}
