* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main-container {
  width: 100%;
  height: 100vh;
  background-color: #014242;
  color: white;
  padding-left: 10vh;
  padding-top: 10vh;
}
.nav-link {
  color: rgb(131, 131, 131);
  text-decoration: none;
  font-weight: 100;
}
.nav-link:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
.H1title-content {
  margin-top: 5vh;
  font-size: 2.8em;
}
.information-author-div {
  margin-top: 5vh;
  font-size: 0.7em;
  display: flex;
}
.avatar {
  width: 80px;
  margin-right: 3vh;
}
.info-author-ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.info-author-link {
  text-decoration: none;
  color: inherit;
}
.info-author-li {
  width: 12vh;
}
.thead-span {
  color: rgb(131, 131, 131);
}
.info-author-li:hover .thead-span {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  .main-container {
    padding: 5vh;
    background-color: khaki;
  }
  .H1title-content {
    margin-top: 5vh;
    font-size: 5.5vw;
  }
  .avatar {
    width: 20vw;
    height: 100%;
  }
  .nav-link {
    font-size: 5.5vw;
  }
  .info-author-ul {
    font-size: 3vw;
    width: 80%;
    flex-flow: row wrap;
  }
  .info-author-li {
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 1vh;
  }
  .item1 {
    order: 2;
  }
  .item2 {
    order: 3;
  }
  .item3 {
    order: 4;
  }
  .item4 {
    order: 1;
  }
}
