* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 14px;
}
.main-container {
  padding: 10%;
}
.label {
  width: 100%;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2vh;
}
.input-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: 5vh 0;
}
.input {
  width: calc(98% / 3);
  height: 5vh;
  padding-left: 2vw;
}
.checkbox-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 5vh 0;
}
.checkbox-span {
  margin-right: 0 2vw;
  font-size: 1.5rem;
}
.radio-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 5vh 0;
  font-size: 1.5rem;
}
.span-radio {
  margin: 0 1vw;
}
.button-div {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 5vh 0;
  justify-content: space-around;
}
.button {
  padding: 1vh 2vw;
  font-size: 1.5rem;
}
.button-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.text-area-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
