html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  background-color: grey;
  padding: 24px;
}
.main {
  background-color: rgb(143, 143, 19);
  padding: 24px;
  flex-grow: 1;
}
.footer {
  background-color: hotpink;
  padding: 24px;
}
